.a {
    display: flex;
    height: 100vh;

}

.a-left {
    flex:1;
}

.a-right{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    gap: 50px;
}

.a-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.about-heading {
    font-weight: 400;
}

.p-bold {
    font-weight: 400;
}

.p-text {
    font-weight: 300;
}

.a-award {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
}

.award-pic{
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.a-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    gap: 10px;
}

.a-info h3 {
    font-weight: bold;
    color: #555;
}

.a-info p {
    font-weight: 400; 
}

.a-left {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
  }

.a-card {
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    overflow: hidden;
}

.a-card.bg {
    position: absolute;
    background-color: #333;
    top: 50px;
    left: 50px;

}


.a-card img.a-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}