.a {
    display: flex;
    height: 100vh;

}

.a-left {
    flex:1;
}

.a-right{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    gap: 30px;
}

.a-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.about-heading {
    font-weight: 400;
}

.p-bold {
    font-weight: 400;
}

.p-text {
    font-weight: 300;
}

.a-award {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
}

.award-pic{
    width: 120px;
    height: 120px;
    border-radius: 20px;
}